* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  min-height: 10vh;
  background-color: #ace;
}

main {
  height: auto;
  background: #9d9;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
}

h1, h2{
  text-align: center;
  color: #eee;
  font-size: 40px;
  font-family: Helvetica, sans-serif;
}

ul {
  font-size: 20px;
  font-family: "Courier New", monospace;
  font-weight: 600;
  text-align: left;
}

li {
  padding: 20px;
  color: #eee;
}

a{
  padding: 20px;
  text-decoration: none;
  color: #eee;
  font-family: "Brush Script MT", cursive;
  font-weight: lighter;
}

ol {
  border-top: 1px solid #eee;
  text-align: center;
  height: 50%;
  font-family: Papyrus, fantasy;
  font-size: 25px;
}

footer {
  background: #555;
  color: #eee;
  text-align: center;
  font-size: 10px;
  font-family: Monaco, monospace;
}